<!--
 * Copyright (C) 2008 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.cts.window.stub">

    <permission android:name="android.app.cts.permission.TEST_GRANTED"
        android:protectionLevel="normal"
            android:label="@string/permlab_testGranted"
            android:description="@string/permdesc_testGranted">
        <meta-data android:name="android.app.cts.string" android:value="foo" />
        <meta-data android:name="android.app.cts.boolean" android:value="true" />
        <meta-data android:name="android.app.cts.integer" android:value="100" />
        <meta-data android:name="android.app.cts.color" android:value="#ff000000" />
        <meta-data android:name="android.app.cts.float" android:value="100.1" />
        <meta-data android:name="android.app.cts.reference" android:resource="@xml/metadata" />
    </permission>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ADD_SYSTEM_SERVICE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.app.cts.permission.TEST_GRANTED" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />

    <!-- Used for PackageManager test, don't delete this INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- content sync tests -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <!-- Used for Window timeout test case -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    
    <!-- Used for PackageManager test, don't delete this permission-tree -->
    <permission-tree android:name="com.android.cts.stub.permission.TEST_DYNAMIC"
                    android:label="Test Tree"/>

    <!-- Used for PackageManager test, don't delete this permission-group -->
    <permission-group android:name="android.permission-group.COST_MONEY"/>
    <!-- Used for PackageManager test, don't delete! -->
    <uses-configuration/>

    <application android:label="Mediatek WMS TestCase"
                android:icon="@drawable/size_48x48" android:name="mediatek.app.cts.MockApplication">

        <activity android:name="mediatek.app.cts.MockActivity" android:label="MockActivity">
            <meta-data android:name="android.app.alias"
                android:resource="@xml/alias" />
            <meta-data android:name="android.app.intent.filter"
                android:resource="@xml/intentfilter" />
            <meta-data android:name="android.widget.layout"
                android:resource="@xml/layout" />
            <meta-data android:name="android.view.merge"
                android:resource="@xml/merge" />
        </activity>
        
        <activity android:name="com.mediatek.cts.window.WindowStubActivity"
            android:label="WindowStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.cts.window.WindowTimeoutStubActivity"
            android:label="WindowTimeoutStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

				<activity android:name="com.mediatek.cts.window.ConfigNoneOriBehindThemeNone"
                   android:label="This is ConfigNoneOriBehindThemeNone"
                   android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriBehindThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            
        
				<activity android:name="com.mediatek.cts.window.ConfigNoneOriLandscapeThemeNone"
                   android:label="This is ConfigNoneOriLandscapeThemeNone"
                   android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriLandscapeThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
                
				<activity android:name="com.mediatek.cts.window.ConfigNoneOriNoSensorThemeNone"
                   android:label="This is ConfigNoneOriNoSensorThemeNone"
                   android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriNoSensorThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigNoneOriPortraitThemeNone"
                   android:label="This is ConfigNoneOriPortraitThemeNone"
                   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriPortraitThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            

				<activity android:name="com.mediatek.cts.window.ConfigNoneOriSensorThemeNone"
                   android:label="This is ConfigNoneOriSensorThemeNone"
                   android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriSensorThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        
        <activity android:name="com.mediatek.cts.window.ConfigNoneOriUnspecifiedThemeNone"
                   android:label="This is ConfigNoneOriUnspecifiedThemeNone"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriUnspecifiedThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

				<activity android:name="com.mediatek.cts.window.ConfigNoneOriUserThemeNone"
                   android:label="This is ConfigNoneOriUserThemeNone"
                   android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigNoneOriUserThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
        
				<activity android:name="com.mediatek.cts.window.ConfigOriOriBehindThemeNone"
                   android:label="This is ConfigOriOriBehindThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriBehindThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            
        
				<activity android:name="com.mediatek.cts.window.ConfigOriOriLandscapeThemeNone"
                   android:label="This is ConfigOriOriLandscapeThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriLandscapeThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
                
				<activity android:name="com.mediatek.cts.window.ConfigOriOriNoSensorThemeNone"
                   android:label="This is ConfigOriOriNoSensorThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriNoSensorThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriPortraitThemeNone"
                   android:label="This is ConfigOriOriPortraitThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriPortraitThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            

				<activity android:name="com.mediatek.cts.window.ConfigOriOriSensorThemeNone"
                   android:label="This is ConfigOriOriSensorThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriSensorThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        
				<activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeNone"
                   android:label="This is ConfigOriOriUnspecifiedThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeNtb"
                   android:label="This is ConfigOriOriUnspecifiedThemeNtb"
                   android:theme="@android:style/Theme.NoTitleBar"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeNtb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeNtbFull"
                   android:label="This is ConfigOriOriUnspecifiedThemeNtbFull"
                   android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeNtbFull" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeLight"
                   android:label="This is ConfigOriOriUnspecifiedThemeLight"
                   android:theme="@android:style/Theme.Light"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeLight" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeLightNtb"
                   android:label="This is ConfigOriOriUnspecifiedThemeLightNtb"
                   android:theme="@android:style/Theme.Light.NoTitleBar"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeLightNtb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeLightNtbFull"
                   android:label="This is ConfigOriOriUnspecifiedThemeLightNtbFull"
                   android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeLightNtbFull" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeBlack"
                   android:label="This is ConfigOriOriUnspecifiedThemeBlack"
                   android:theme="@android:style/Theme.Black"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeBlack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeBlackNtb"
                   android:label="This is ConfigOriOriUnspecifiedThemeBlackNtb"
                   android:theme="@android:style/Theme.Black.NoTitleBar"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeBlackNtb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeBlackNtbFull"
                   android:label="This is ConfigOriOriUnspecifiedThemeBlackNtbFull"
                   android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeBlackNtbFull" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
          
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeWallpaper"
                   android:label="This is ConfigOriOriUnspecifiedThemeWallpaper"
                   android:theme="@android:style/Theme.Wallpaper"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeWallpaper" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       
          
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeWallpaperNtb"
                   android:label="This is ConfigOriOriUnspecifiedThemeWallpaperNtb"
                   android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeWallpaperNtb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeWallpaperNtbFull"
                   android:label="This is ConfigOriOriUnspecifiedThemeWallpaperNtbFull"
                   android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeWallpaperNtbFull" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeWallpaperSettings"
                   android:label="This is ConfigOriOriUnspecifiedThemeWallpaperSettings"
                   android:theme="@android:style/Theme.WallpaperSettings"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeWallpaperSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeLightWallpaperSettings"
                   android:label="This is ConfigOriOriUnspecifiedThemeLightWallpaperSettings"
                   android:theme="@android:style/Theme.Light.WallpaperSettings"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeLightWallpaperSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeTrans"
                   android:label="This is ConfigOriOriUnspecifiedThemeTrans"
                   android:theme="@android:style/Theme.Translucent"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeTrans" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeTransNtb"
                   android:label="This is ConfigOriOriUnspecifiedThemeTransNtb"
                   android:theme="@android:style/Theme.Translucent.NoTitleBar"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeTransNtb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
                        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeTransNtbFull"
                   android:label="This is ConfigOriOriUnspecifiedThemeTransNtbFull"
                   android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeTransNtbFull" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
                                
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeDialog"
                   android:label="This is ConfigOriOriUnspecifiedThemeDialog"
                   android:theme="@android:style/Theme.Dialog"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeDialog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     

        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemePanel"
                   android:label="This is ConfigOriOriUnspecifiedThemePanel"
                   android:theme="@android:style/Theme.Panel"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemePanel" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeLightPanel"
                   android:label="This is ConfigOriOriUnspecifiedThemeLightPanel"
                   android:theme="@android:style/Theme.Light.Panel"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeLightPanel" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
                
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUnspecifiedThemeIme"
                   android:label="This is ConfigOriOriUnspecifiedThemeIme"
                   android:theme="@android:style/Theme.InputMethod"
                   android:configChanges="orientation"
                   android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUnspecifiedThemeIme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                     
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriUserThemeNone"
                   android:label="This is ConfigOriOriUserThemeNone"
                   android:configChanges="orientation"
                   android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriUserThemeNone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriLandscapeThemeTrans"
                   android:label="This is ConfigOriOriLandscapeThemeTrans"
                   android:configChanges="orientation"
                   android:theme="@android:style/Theme.Translucent"
                   android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriLandscapeThemeTrans" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           
        
        <activity android:name="com.mediatek.cts.window.ConfigOriOriPortraitThemeTrans"
                   android:label="This is ConfigOriOriPortraitThemeTrans"
                   android:configChanges="orientation"
                   android:theme="@android:style/Theme.Translucent"
                   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.mtk.ConfigOriOriPortraitThemeTrans" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>           

        <activity android:name="com.mediatek.cts.window.AnimationTestStubActivity"
            android:label="AnimationTestStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.cts.window.GridLayoutAnimStubActivity"
            android:label="GridLayoutAnimStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.cts.window.LayoutAnimStubActivity"
            android:label="LayoutAnimStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.cts.window.ViewTestStubActivity"
            android:label="ViewTestStubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.cts.window.AnimationActivity"
            android:label="AnimationActivity"/>

        <activity
           android:name="com.mediatek.cts.window.LayoutAnimationActivity" />

        <activity
           android:name="com.mediatek.cts.window.WindowManagerNeedMenuActivity" />

        <activity
           android:name="com.mediatek.cts.window.WindowManager_NeedMenuTest$ActivityNeedMenu"/>
        <activity android:name="com.mediatek.cts.window.LandscapeStubActivity"
            android:label="LandscapeStubActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>

        <activity
           android:name="com.mediatek.cts.window.WindowManager_NeedMenuTest$ActivityNeedMenu"/>

        <activity
           android:name="com.mediatek.cts.window.WindowManager_NeedMenuTest$ActivityNeedMenuAndNotFocusable"/>

        <activity
           android:name="com.mediatek.cts.window.WindowManager_NeedMenuTest$ActivitySmallNeedMenuAndNotFocusable"
           android:theme="@android:style/Theme.Dialog" />

        <activity
           android:name="com.mediatek.cts.window.WindowManager_NeedMenuTest$ActivitySmall"
           android:theme="@android:style/Theme.Dialog" />

    </application>
</manifest>
