mkdir /data/misc/sensors 0664 system system

service msensord /system/bin/msensord
    user system
    group system
    oneshot

service akmd8963 /system/bin/akmd8963
    disabled
    user system
    group system